@inherits LayoutComponentBase

@using Components.Layout

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row" style="display:flex; justify-content:flex-start; align-items:center; padding-left:0;">
            <EmailProvider @bind-SelectedProvider="selectedProvider" />
        </div>


        <article class="content px-4">
            <CascadingValue Value="selectedProvider" Name="SelectedProvider">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string selectedProvider = "Resend";
}
