<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TestResend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SendEmail">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> SendEmail
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SendEmailBravo">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> SendEmail Bravo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SendTemplate">
                <span class="bi bi-envelope-fill-nav-menu" aria-hidden="true"></span> Send Template
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SendAttachment">
                <span class="bi bi-paperclip-nav-menu" aria-hidden="true"></span> Send Attachment
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SendBulk">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Send Bulk
            </NavLink>
        </div>
    
        <div>
            <NavLink class="nav-link" href="/SendTemplate">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> SendEmail Template
            </NavLink>
        </div>
    </nav>
</div>

