<nav class="nav flex-column">
    <div class="nav-item px-3 text-muted">
        <small>Bridge Actions</small>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/SendEmailBuilder">
            <span class="bi bi-envelope-plus-fill" aria-hidden="true"></span> Send Email
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/SendBulkBuilder">
            <span class="bi bi-people-fill" aria-hidden="true"></span> Send Bulk Email
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/SendAttachmentBuilder">
            <span class="bi bi-paperclip" aria-hidden="true"></span> Send Attachment
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/SendCcBccBuilder">
            <span class="bi bi-envelope-fill" aria-hidden="true"></span> Send CC/BCC
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/SendReplyToBuilder">
            <span class="bi bi-reply-fill" aria-hidden="true"></span> Send Reply-To
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/SendSmsBuilder">
            <span class="bi bi-envelope-paper-fill" aria-hidden="true"></span> Send SMS
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/templateemailbuilder">
            <span class="bi bi-envelope-paper-fill" aria-hidden="true"></span> Email Template Builder
        </NavLink>
    </div>
    <div class="nav-item px-3 text-muted">
        <small>Configuration</small>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/ApiConfiguration">
            <span class="bi bi-gear-fill" aria-hidden="true"></span> API Keys
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/SendEmailBravo">
            <span class="bi bi-envelope-plus" aria-hidden="true"></span> SendEmail Bravo
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/SendTemplate">
            <span class="bi bi-envelope-fill" aria-hidden="true"></span> Send Template
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/template-email-builder">
            <span class="bi bi-envelope-paper-fill" aria-hidden="true"></span> Template Builder
        </NavLink>
    </div>
    <div class="nav-item px-3 text-muted">
        <small>Resend Provider</small>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/ResendSendAttachment">
            <span class="bi bi-paperclip" aria-hidden="true"></span> Resend Attachment
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/ResendSendBulk">
            <span class="bi bi-people-fill" aria-hidden="true"></span> Resend Bulk
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/ResendSendCcBcc">
            <span class="bi bi-envelope-fill" aria-hidden="true"></span> Resend CC/BCC
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/ResendSendReplyTo">
            <span class="bi bi-reply-fill" aria-hidden="true"></span> Resend Reply-To
        </NavLink>
    </div>
</nav>
